

.top-navbar[b-tde58y4tub]{
    height: var(--navbar-height);
    z-index: 10;
    color: white;
    
}

.body-content[b-tde58y4tub] {
    padding-top: var(--navbar-height);
    padding-bottom: calc(var(--navbar-height) + 20px);
}

.bottom-tabbar[b-tde58y4tub]{
    bottom: -10px;
    width: 100%;
    z-index: 10;
}

.light-white[b-tde58y4tub]{
    color: #BBBBBB !important;
}


.bx-md[b-tde58y4tub] {
    height: 5px;
    margin-bottom: 30px;
}

.tabbar-rounded[b-tde58y4tub] {
    border-radius: 0px 0px 0px 0px;
}
