@inherits LayoutComponentBase

<style type="text/css" scoped>
    .logo {
        height: 100px;
        width: 100px;
    }
</style>

<div class="d-flex flex-column ">
    <div class="">
@*         <img class="mx-auto logo" src="/images/travel-and-tourism.png" alt="logo" />
 *@       
    </div>
    <div>
        @Body
    </div>
    </div>

