

.top-navbar{
    height: var(--navbar-height);
    z-index: 10;
    color: white;
    
}

.body-content {
    padding-top: var(--navbar-height);
    padding-bottom: calc(var(--navbar-height) + 20px);
}

.bottom-tabbar{
    bottom: -10px;
    width: 100%;
    z-index: 10;
}

.light-white{
    color: #BBBBBB !important;
}


.bx-md {
    height: 5px;
    margin-bottom: 30px;
}

.tabbar-rounded {
    border-radius: 0px 0px 0px 0px;
}
